body{
    font-family: 'Prata', serif;
    background-color: #e0602d;
    color: beige;
}
h2{
    font-size: 30px;
    margin: 20px
}
h2:hover{
    color: black;
    font-size: 50px;
}
hr{
    border-top: 2px dashed;
    border-bottom: 0px;
}
a{
    color: beige;
    margin: 20px;
}
a:hover{
    color: black;
    font-size: 20px;
}
div{
    margin: 30px;
    border: 2px dashed;
    padding: 20px;
    border-radius: 10px;
}